extends layout

block content
    h1= "Edit Student"
    div.newstudent
        form( method="post")
            input(name="_id", type="hidden", value=student._id.toHexString()) 
            div
                div
                    span.label Role :
                    input(type="text", name="role", id="editStudentRole", value=student.role)
                div
                    span.label Name :
                    input(type="text", name="name", id="editStudentName", value=student.name)
                div#editStudentSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Student List"
